main {
  width: 100%;
}

.background {
  width: 100%;
}

.logo {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  -webkit-animation: blink 1s ease-in-out alternate;
  -moz-animation: blink 1s ease-in-out alternate;
  animation: blink 3s 0s ease-in-out alternate;
}

.twinkle {
  position: absolute;
}

.twinkle1 {
  width: 100%;
  top: 0;
  left: 0;
}

.twinkle2 {
  width: 100%;
  top: 0;
  left: 0;
}

.twinkle2 {
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.twinkle1 {
  -webkit-animation-delay: 0.5s;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.txt {
  position: absolute;
  top: 56%;
  left: 39.3%;
  width: 10%;
  -webkit-animation: blink 1s ease-in-out alternate;
  -moz-animation: blink 1s ease-in-out alternate;
  animation: blink 5s 0s ease-in-out alternate;
}
