body {
  font-family: "RIDIBatang";
  color: #141414;
}

@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.main-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.left {
  width: 50%;
  height: 100%;
  border-right: solid black 1px;
  background-color: white;
}
.left > img {
  width: 100%;
}

.left > .twinkle {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.twinkle2 {
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.twinkle1 {
  -webkit-animation-delay: 0.5s;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.left > .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.right {
  width: 50%;
  height: 100%;
}
.right_1 {
  border-bottom: solid black 1px;
}

.right_box {
  width: 100%;
  height: 50vh;
}

.right_sm_box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right_1_1,
.right_2_1 {
  border-right: solid black 1px;
}

.right_1_1 > a {
  display: block;
}

.port {
  width: 25%;
  position: absolute;
  z-index: -3;
  top:-6%;
}
.right_sm_box > a:nth-of-type(1) {
  font-size: 24px;
  margin-top: 230px;
}

.right_sm_box > a:nth-of-type(2) {
  margin-top: 8px;
} 
.right_2_1 {
  background-color: white;
}